.logo {
    width: 100px;
}
.header{
    display: flex;
}

.search-bar{
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-top: 100px; */
    position: sticky;
    top: 100px;
    width: 100%;
    height: 100px;
    background: white;
    
    
}

.appbar{
    display: flex;
    justify-content: space-between;
    z-index: 3;
}
.menuItems{
    display: flex;

}
.feed-me{
    display: flex;
    align-items: center;
    justify-content: center;
}

.close-drawer{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

